header{
    background-color: rgb(155, 135, 163);
    font-size: 20px;
    height: 60px;
    color: white;
    padding: 15px;
}
.logo{
    margin-top: 20px;
    
    float:left;
}
.slide-image
{
    width:100%    ;
  
}

header a{
    text-decoration: none;
    color:white
}

.header-menu{
float:right;
}

.header-nav
{
    display:inline;
    padding: 0 5px 0 5px;
}